<div class="footer">
    <div class="footer__iw layout layout--grid">
        <div class="footer__menu">
            <div class="footer__menu-items">
                <div class="footer__menu-item-line">
                    &nbsp;
                </div>
                <div class="footer__menu-item">
                    <a href="#">Home</a>
                </div>
                <div class="footer__menu-item">
                    <a href="#">Research</a>
                </div>
                <div class="footer__menu-item">
                    <a href="#">News</a>
                </div>
                <div class="footer__menu-item">
                    <a href="#">Contact</a>
                </div>
            </div>
        </div>
        <div class="footer__content">
            <div class="footer__content-text">
                We are located in Frankfurt, Germany.
            </div>
            <div class="footer__content-contacts">
                <div class="footer__content-contacts-label">
                    Contact us at
                </div>
                <a class="footer__content-contacts-link" href="mailto:info@wavesassociation.org">
                    info@wavesassociation.org
                </a>
            </div>
        </div>
        <div class="footer__scrolltop">
            <div class="footer__scrolltop-trigger">
                Top
            </div>
        </div>
        <div class="footer__copyright">
            &copy; 2020 Waves Association
        </div>
    </div>
</div>
