/* layout */
:root {
  --wrapper: 1160px;
  --grid-columns: 12;
  --grid-col: 1fr;
  --grid-column-gap: 20px;
}

/* colors */
:root {
  --blue: #0055FF;
  --off-white: #f8f8f8;
  --light-gray: #E6E6E6;
  --gray: #CDCDCD;
  --dark-gray: #6D6D6D;
}
